@media (min-width: 768px) {
  /* Header */
  header {
    justify-content: space-between;
  }

  #hamburger {
    display: none; 
    
  }

  nav {
    display: block !important;
    position: static;
    background: none;
    border: none;
    width: auto;
  }

  nav ul {
    display: flex;
    gap: 1rem;
  }

  nav li {
    border: none;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  /* Layout */
  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .hero {
    margin-bottom: 2rem;
  }

  /* Events + Weather + Forecast side by side */
  .events,
  .weather {
    flex: 1;
  }

   .weather-container {
    flex-direction: row;
  }

  .current-weather, .forecast {
    flex: 1;
  }


  .events-weather {
    display: flex;
    gap: 1rem;
  }

  .forecast {
    display: flex;
    justify-content: space-between;
  }

  /* Spotlights grid */
  #spotlight-cards {
    flex-direction: row;
    justify-content: center;
  }

  .spotlight-card {
    flex: 1;
    max-width: 300px;
  }

  /* Footer */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .footer-info {
    text-align: left;
  }

  .social {
    justify-content: flex-end;
  }

  .container {
    grid-template-columns: 1fr 1fr; /* form left, levels right */
    align-items: start;
  }
   

}


