/* Responsive */

@media (min-width: 38rem) { 
    #menu-toggle {
     display: inline-block;
       
    }

    header {
        grid-template-columns: 24px auto;
    }
    
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

  .about {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }

}